<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}"></h1>

<form method="post">

    <div class="form-group" th:if="${user != null}">
        <input type="hidden" th:field="${event.user.id}"  class="form-control" />

    </div>

    <div class="form-group">
        <label> Event Name
            <input type="text" th:field="${event.eventName}" class="form-control" />
        </label>
        <p class="error" th:errors="${event.eventName}"></p>
    </div>

    <div class="form-group">
        <label>Description
            <input type="text" th:field="${event.eventDetails.description}" class="form-control" />
        </label>
        <p class="error" th:errors="${event.eventDetails.description}"></p>
    </div>

    <div class="form-group">
        <label>Location
            <input type="text" th:field="${event.location}" class="form-control" />
        </label>
        <p class="error" th:errors="${event.location}"></p>
    </div>

    <div class="form-group">
        <label>Number Of Attendees
            <input type="number" th:field="${event.numberOfAttendees}" class="form-control" />
        </label>
        <p class="error" th:errors="${event.numberOfAttendees}"></p>
    </div>

    <div class="form-group">
        <label>Contact Email
            <input type="text" th:field="${event.eventDetails.contactEmail}" class="form-control" />
        </label>
        <p class="error" th:errors="${event.eventDetails.contactEmail}"></p>
    </div>

    <div class="form-group">
        <label>Event Category
            <select th:field="${event.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}"
                ></option>
            </select>
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success" />
    </div>
</form>


</body>
</html>