<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}"></h1>

    <table class="table table-striped">

        <tr>
            <th>Event Name</th>
            <td th:text="${event.eventName}"></td>
        </tr>
        <tr>
            <th>Description</th>
            <td th:text="${event.eventDetails.description}"></td>
        </tr>
        <tr>
            <th>Location</th>
            <td th:text="${event.location}"></td>
        </tr>
        <tr>
            <th>Number Of Attendees</th>
            <td th:text="${event.numberOfAttendees}"></td>
        </tr>
        <tr>
            <th>Contact Email</th>
            <td th:text="${event.eventDetails.contactEmail}"></td>
       </tr>

        <tr>
            <th>Event Category</th>
            <td th:text="${event.eventCategory.name}"></td>
        </tr>

        <tr>
            <th>Event Organizer</th>
            <td>
                <span th:text="${event.user.username} "></span>
            </td>
        </tr>

    </table>

<div th:if="${event.user.id == user.id }">
    <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
</div>
<div th:unless="${event.user.id == user.id }">
    <a href="/events">home</a>
</div>

</body>
</html>