<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="/events/create"> Create Event </a> </li>
    <li class="nav-item"><a class="nav-link" href="/events/delete"> Delete Event </a> </li>
</ul>

<h1 th:text="${title}">Coding Events</h1>


<div th:replace="fragments :: displayEvents"></div>


</body>
</html>