<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}"></h1>

<p th:unless="${events} and ${events.size()}" >No events!</p>

<th:block th:if="${events} and ${events.size()}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>numberOfAttendees</th>
            <th>Contact Email</th>
            <th>Type</th>

        </tr>
        </thead>
        <tr th:each="event : ${events}">
            <td th:text="${event.name}"></td>
            <td th:text="${event.description}"></td>
            <td th:text="${event.location}"></td>
            <td th:text="${event.numberOfAttendees}"></td>
            <td th:text="${event.contactEmail}"></td>
            <td th:text="${event.type.displayName}"></td>

<!--            <td>-->
<!--                <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>-->
<!--            </td>-->
        </tr>
    </table>

</th:block>

</body>
</html>