<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1>Welcome </h1>

<h1 th:text="${user.username}">profile page</h1>

<div th:replace="fragments :: displayEvents"></div>


<p th:unless="${user.eventsAttending} and ${user.eventsAttending.size()}" >Not Attending Any events!</p>

<th:block th:if="${user.eventsAttending} and ${user.eventsAttending.size()}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Event Attending</th>
        </tr>
        </thead>
        <tr th:each="event : ${user.eventsAttending}">
            <td>
                <a th:href="'/events/detail?eventId=' + ${event.id}" th:text="${event.eventName}"></a>
            </td>
        </tr>
    </table>
</th:block>
<nav class='navbar'>
    <div class='navbar-container'>
        <ul class="nav-menu">
            <li class="nav-item"><a class="nav-link" href="/events/create"> Create Event </a> </li>
            <li class="nav-item"><a class="nav-link" href="/events/delete"> Delete Event </a> </li>
        </ul>
    </div>
</nav>

</body>
</html>