<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>

<nav th:fragment="navigation">
    <nav class='navbar'>
        <div class='navbar-container'>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a class="nav-link" href="/events"> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:text="${session.user == null ? 'Login' : 'Logout'}"
                     th:href="${session.user == null ? '/login' : '/logout'}">
                    </a>
                 </li>
                <li>
                    <a class="nav-link" th:text="${session.user == null ? 'Register' : 'Profile'}"
                       th:href="${session.user == null ? '/register' : '/profile'}">
                    </a>
                </li>
                <li class="nav-item">
                    <div class="search-bar">
                        <form action="#" th:action="@{/search}" th:object="${searchForm}" method="post">
                            <input type="text" th:field="${searchForm.query}" placeholder="Search"/>
                            <button type="submit">Search</button>
                            <p th:text="${error}"></p>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</nav>

<div th:fragment="displayEvents">

    <p th:unless="${events} and ${events.size()}" >No events!</p>

    <th:block th:if="${events} and ${events.size()}">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Event Name</th>
                </tr>
            </thead>
                <tr th:each="event : ${events}">
                    <td>
                        <a th:href="'/events/detail?eventId=' + ${event.id}" th:text="${event.eventName}"></a>
                    </td>
                    <td>
                        <a th:href="'/events/join?eventId=' + ${event.id}">Join</a>
                    </td>
                </tr>
        </table>
    </th:block>
</div>

</body>
</html>