<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="/events/create"> Create Event </a> </li>
    <li class="nav-item"><a class="nav-link" href="/events/delete"> Delete Event </a> </li>
</ul>

<h1 th:text="${title}">All Events</h1>

<p th:unless="${events} and ${events.size()}" >No events!</p>

<th:block th:if="${events} and ${events.size()}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Event Name</th>
        </tr>
        </thead>
        <tr th:each="event : ${events}">
            <td>
                <a th:href="'/events/detail?eventId=' + ${event.id}" th:text="${event.eventName}"></a>
            </td>
        </tr>
    </table>

</th:block>



</body>
</html>