<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}"></h1>

<p th:unless="${categories} and ${categories.size()}" >No Categories!</p>

<th:block th:if="${categories} and ${categories.size()}">

<table class="table table-striped">
    <thead>
    <tr>
        <th>Category Name</th>
    </tr>
    </thead>
    <tr th:each="category : ${categories}">
        <td><a th:text="${category.name}" th:href="'/events?categoryId=' + ${category.id}"></a></td>
    </tr>

</table>

    <nav class='navbar'>
        <div class='navbar-container'>
            <ul class="nav-menu">
                <li class="nav-item"><a class="nav-link" href="/eventCategories/create"> Create new Categories </a> </li>
                <li class="nav-item"><a class="nav-link" href="/eventCategories/delete"> Create Delete </a> </li>
            </ul>
        </div>
    </nav>
</th:block>
</body>
</html>
